<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>AUTUMN HTML TEMPLATE</title>

<!-- colorpicker stylesheet -->
<link rel="stylesheet" type="text/css" href="colorpicker/css/colorpicker.css"/>
<link rel="stylesheet" type="text/css" href="colorpicker/css/layout.css"/>

<!-- important stylesheets -->
<link rel="stylesheet" href="css/superfish.css" type="text/css" media="all" />
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:regular,bold" type="text/css" />
<link rel="stylesheet" href="css/default.css" type="text/css" />
<link rel="stylesheet" href="css/style.css" type="text/css" />
<link rel="stylesheet" href="css/portfolio.css" type="text/css" media="screen" />
<link rel="stylesheet" href="css/prettyPhoto.css" type="text/css" media="screen" title="prettyPhoto main stylesheet" charset="utf-8" />
<link rel="stylesheet" href="css/mosaic.css" type="text/css" media="screen" />

<!--important javascipt-->
<script src="js/jquery-1.4.2.min.js" type="text/javascript"></script>
<script src="js/superfish.js" type="text/javascript"></script>
<script src="js/supersubs.js" type="text/javascript"></script>
<script src="js/hoverIntent.js" type="text/javascript"></script>
<script src="js/jquery.prettyPhoto.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="js/script.js"> </script>
<script type="text/javascript" src="http://cloud.github.com/downloads/malsup/cycle/jquery.cycle.all.latest.js"></script>

<!-- colorpicker script -->
<script type="text/javascript" src="colorpicker/js/eye.js"></script>
<script type="text/javascript" src="colorpicker/js/utils.js"></script>
<script type="text/javascript" src="colorpicker/js/colorpicker.js"></script>
<script type="text/javascript" src="colorpicker/js/scripts.js"></script>

<script type="text/javascript">
$(document).ready(function() {
	  $('#testimonials2')
	.after('<div id="nav2">')
	.cycle({
        fx: 'fade', // choose your transition type, ex: fade, scrollUp, scrollRight, shuffle
		speed: 3000,
		timeout: 2000
     });
});
</script>
</head>

<body>

<div class="schemas">
			<a class="styleswitch default-pat" rel="default-pat" href="#"><span></span></a>
			<a class="styleswitch head-pat3" rel="head-pat3" href="#"><span></span></a>			
            <a class="styleswitch head-pat1" rel="head-pat1" href="#"><span></span></a>
            <a class="styleswitch head-pat2" rel="head-pat2" href="#"><span></span></a>
			<a class="styleswitch head-pat4" rel="head-pat4" href="#"><span></span></a>			
            <a style="text-indent: 0px;" class="styleswitch colors tiptip" title="Click and choose our favorite color" id="schema-colorpicker" rel="header-trans" href="#"></a>
            <!-- color picker -->
        </div>
<div class="main head-pat1">

	<div class="header">
		<div class="head">
			<!--Begin Logo-->
			<div class="logo">
				<h1><a href="index.html"><img src="images/logonew.png" alt="Logo" /></a></h1>
			</div>	
			
		<!---------------End Logo-------------------------------------><!--End Logo-->
		<!--Menu-->
			<div class="menu">
			<ul class="sf-menu">
				<li><a href="index.html">HOME</a>
					<ul>
						<li><a href="index.html">Nivo Slider</a></li>
						<li><a href="index2.html">Piecemaker Slider</a></li>									
						<li><a href="index3.html">Accordion Slider</a></li>									
						<li class="sf-with-ul">
							<a href="#" >Multilevel Menu</a>
							<ul>
								<li><a href="#">This is the</a></li>
								<li><a href="#">example of the</a></li>
								<li><a href="#">2nd level menu</a></li>
							</ul>
						</li>
					</ul>
				</li>
				
				<li class="active"><a href="#">PAGES</a>	
					<ul>
						<li><a href="product_details.html">Product Details</a></li>	
						<li><a href="product.html">Product List</a></li>
						<li><a href="services.html">Services</a></li>
						<li><a href="faq.html">FAQ</a></li>														
						<li><a href="price.html">Price Table</a></li>
						<li><a href="about.html">About Us</a></li>													
						<li><a href="error.html">Error Page</a></li>					
						<li><a href="fullwidth.html">Fullwidth Page</a></li>					
						<li><a href="left.html">Left Sidebar</a></li>											
					</ul>
				</li>
			
				<li><a href="portfolio_s.html">PORTFOLIO</a>
					<ul>
						<li><a href="portfolio2.html">3 column portfolio</a></li>
						<li><a href="portfolio3.html">4 column portfolio</a></li>
						<li><a href="filterable.html">Sortable Portfolio</a></li>												
						<li><a href="portfolio_s.html">Portfolio Item Details</a></li>

					</ul>
				</li>
	
				<li><a href="blog.html">BLOG</a>
					<ul>
						<li><a href="blog.html">Blog</a></li>
						<li><a href="single.html">Single Blog Page</a></li>
			    	 </ul>
				</li>
	
				<li><a href="typo.html">ELEMENTS</a>
					<ul>
						<li><a href="typo.html">Easy column shortcodes</a></li>
						<li><a href="elements.html">Buttons and typography</a></li>
					</ul>
				</li>
		
				<li><a href="contact.php">CONTACT US</a></li>
			</ul>		
		</div>
			<!--Menu-->			
	  </div>
		<!--EOF Head-->
	</div>
	<!--EOF Header-->
<!-- *************************************** -->	
<div class="clear"></div>
<div class="row_other_page">
	<div class="content_body">
		<div id="box">
			<div id="box_head">
				<div id="box_head_heading">
					<h1 id="box_head_left">Product list</h1>
					<div id="box_head_sub">/  This is subtitle</div>
									<form class="searchform">
							<input class="searchfield" type="text" value="Search..." onfocus="if (this.value == 'Search...') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Search...';}" />
							<input class="searchbutton" type="submit" value="Go" />
						</form>
							</div>
							</div>
							<div class="clear"></div>
			
							<div id="product_left">
								<ul id="product-filter">
						
									<li><a href="#all" title="">All (112)</a>\</li>
									<li><a href="#ebook" title="" rel="ebook">Ebook reader (5)</a>\</li>			
									<li><a href="#mobile" title="" rel="mobile">Mobile (77)</a>\</li>
									<li><a href="#tablet" title="" rel="tablet">Tablet (8)</a></li>
						
									
								</ul>
								
								<div id="product_left_block">
									
									<div id="product_left_img">
									<a href="images/slider_image/slider3.jpg" rel="prettyPhoto[]" title="" class="papillon_image">
										<img src="images/ipod-nano.png" width="273" height="205" alt="" />
									</a>	
									</div>
									<div id="product_left_text">
										<h4>iPod nano 6th generation</h4>
										<div class="product_price">£222.50</div>
										<p>iPod nano with Multi-Touch is designed to be easy, intuitive, and fun - just like music. And it's even smaller, so music can be an even bigger part of just about everything.</p>
										<div class="clear"></div>
									</div>
				
									<a href="#" class="button">Details</a>		
									<div class="clear"></div>						
								</div>
								
								<div id="product_left_block">
									
									<div id="product_left_img">
									<a href="images/slider_image/slider2.jpg" rel="prettyPhoto[]" title="" class="papillon_image">
										<img src="images/iphone.png" width="273" height="205" alt="" />
									</a>	
									</div>
									<div id="product_left_text">
										<h4>iPhone 4G</h4>
										<div class="product_price">£449.99</div>
										<p>iPod nano with Multi-Touch is designed to be easy, intuitive, and fun - just like music. And it's even smaller, so music can be an even bigger part of just about everything.</p>
										<div class="clear"></div>
									</div>
				
									<a href="#" class="button">Details</a>		
									<div class="clear"></div>						
								</div>
								
								<div id="product_left_block">
									
									<div id="product_left_img">
									<a href="images/slider_image/slider1.jpg" rel="prettyPhoto[]" title="" class="papillon_image">
										<img src="images/ipad.png" width="273" height="205" alt="" />
									</a>	
									</div>
									<div id="product_left_text">
										<h4>iPad 2</h4>
										<div class="product_price">&pound;500</div>
										<p>iPod nano with Multi-Touch is designed to be easy, intuitive, and fun - just like music. And it's even smaller, so music can be an even bigger part of just about everything.</p>
										<div class="clear"></div>
									</div>
				
									<a href="#" class="button">Details</a>		
									<div class="clear"></div>						
								</div>
								
					<div class="clear"></div>
					<div id="page_navigation"></div>

				</div>
				<!--EOF about_left-->
				
				<div id="box_right">	
				
				<div class="sidebox">
					<div class="side_tab">
						<h5><strong>Product categories</strong></h5>
					</div>
					
					<div class="list-wrap">
						<ul id="services_menu">
						<li><a href="#">Books</a><span>(25)</span></li>
						<li><a href="#">DVD &amp;  Blu-Ray</a><span>(62)</span></li>
						<li><a href="#">Electronics</a><span>(80)</span></li>
						<li><a href="#">PC &amp; Video Games</a><span>(12)</span></li>
						<li><a href="#">Music &amp; MP3 Players</a><span>(36)</span></li>
						<li><a href="#">TV &amp; Home Theatre</a><span>(11)</span></li>
						
					</ul>
					</div>
				</div>

				<div class="sidebox">
					<div class="side_tab">
						<h5><strong>Testimonials</strong></h5>
					</div>
					<div class="list-wrap">				
						<div id="testimonials2">
					 	 <blockquote><p>"We are keen to see it progress and think its a fantastic wary to improve the children's learning experience whilst conserving trees!  We only hope they can make full use of it and do lots of stuff actually on the computer directly rather than into a separate book."
							<cite>Martin Luthar- NY</cite></p></blockquote>
					 	<blockquote><p>"We really appreciate all your efforts on our behalf over the last few years and it has been an absolute pleasure working with you. I wish you every success with the Cornish clients that are lucky enough to have you working with them in the future."
							<cite>Sandra Lee- LA</cite></p></blockquote>
					
						<blockquote><p>"Website - fabulous - I personally rarely use Google to source new team building ideas, but you came up at the top of the search engine list and your website is very good. I especially like your personal profiles and the testimonials given my enquiry was not via a recommendation."
							<cite>Jason Doe- MA</cite></p></blockquote>
					 
					</div><!--end .testimonials2-->
				</div>
			</div>
			
			<div class="sidebox">			
				<div class="video">
					<iframe src="http://player.vimeo.com/video/36305675?portrait=0" width="320" height="180" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
			
				</div>
				<div class="clear"></div>
			</div>

		</div>
							
			<div class="clear"></div>
		</div>
		<!------------------EOF Servies-------------------->


		<div class="clear"></div>
		</div>
		<!--EOF content_body-->

		<div class="clear"></div>
		
		<div class="footer">
	<div class="footer_content">
		<div class="footer_inner">
			<div class="footer_links">
				<h2 class="bottom_margin">Flickr</h2>
                	<ul id="flickr_container">
						<li><a rel="colorbox" href="http://farm7.static.flickr.com/6070/6160484217_34699243e8_b.jpg">
						<img alt="Matt Guay's garden workspace" src="http://farm7.static.flickr.com/6070/6160484217_34699243e8_s.jpg" width="60" />
						</a></li>
						<li><a rel="colorbox" href="http://farm7.static.flickr.com/6204/6160482803_0e027f7d7d_b.jpg">
						<img alt="Matt Guay's regular hideout" src="http://farm7.static.flickr.com/6204/6160482803_0e027f7d7d_s.jpg" width="60" />
						</a></li>
						<li><a rel="colorbox" href="http://farm7.static.flickr.com/6164/6138110741_aa2ef65c4b_b.jpg" >						<img alt="Grant Friedman" src="http://farm7.static.flickr.com/6164/6138110741_aa2ef65c4b_s.jpg" width="60" /></a></li>
						
		
						
						<li class="clear"><a rel="colorbox" href="http://farm7.static.flickr.com/6168/6138110581_02f0bd1eb9_b.jpg"><img alt="David Appleyard's Zen office space" src="http://farm7.static.flickr.com/6168/6138110581_02f0bd1eb9_s.jpg" width="60" /></a></li>
						<li><a rel="colorbox" href="http://farm7.static.flickr.com/6088/6128788642_61190607c2_b.jpg"><img alt="Travis King" src="http://farm7.static.flickr.com/6088/6128788642_61190607c2_s.jpg" width="60" /></a></li>
						<li><a rel="colorbox" href="http://farm7.static.flickr.com/6186/6125092993_ba73b33e4d_b.jpg"><img alt="Lance Snider" src="http://farm7.static.flickr.com/6186/6125092993_ba73b33e4d_s.jpg" width="60" /></a></li>
						
					</ul>
                    <div class="clear"></div>
			</div>

			<div class="footer_block">
				<h2 class="bottom_margin">Useful Links</h2>
					<ul  class="footer_margin">
						<li class="no-border">&raquo;<a href="#">Link to our partners</a></li>
						<li class="no-border">&raquo;<a href="#">Read our journals</a></li>
						<li class="no-border">&raquo;<a href="#">Work with us</a></li>												
						<li class="no-border">&raquo;<a href="#">Link to your custom section</a></li>						
					</ul>
			</div>			
				
				<div class="no-margin">
					<h2 class="bottom_margin">Get in touch</h2> 
						<ul class="footer_margin">
							<li class="no-border" >236 Gray's Inn road, London<br />
Phone: (1800) 765-4321 <br />
Email: info@yourdomain.com</li>

<li> <em>Praesent id lorem mauris. Donec scelerisque risus nec dui dapibus blandit convallis dolor nec nisi consectetur eget. Lorem ipsum dolor sit amet.</em></li>
						</ul>
				</div>

		</div>
	</div>
</div>
		<div id="extra2">
			<div class="extra_main">
				<div class="extra_left">copyright 2011. All rights reserved</div>
				<div class="extra_right">
					<ul class="social">
						<li><a href="#"><img src="images/facebook-logo-square.png" width="32" height="32" alt="facebook" /></a></li>
						<li><a href="#"><img src="images/twitter-bird3-square.png" alt="twitter" width="32" height="32"/></a></li>
						<li><a href="#"><img src="images/rss-cube.png" width="32" height="32" alt="rss" /></a></li>
						<li><a href="#"><img src="images/linkedin-logo-square2.png" width="32" height="32" alt="linkedin" /></a></li>
						
					</ul>
				</div>
			</div>
		</div>
		<!--EOF copyright-->


</div>

</div>
</body>
</html>
